{% apply inline_css %}
 <style>
  h1 {
            color:red;
        }
          </style>
<h1>Ci-dessous les données envoyées par : {{ contact.email }}!</h1>
<p>

    Objet:  {{ contact.objet }} 
</p>
<p>Q
    Email:  {{ contact.email }} 
</p>
<p>
    Message:  {{ contact.message }} 
</p>

{% endapply %}